@import url('https://fonts.cdnfonts.com/css/adobe-caslon-pro');
@import url('https://fonts.cdnfonts.com/css/optima');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-customGradient {
  background: linear-gradient(38deg, rgb(255, 255, 255) 50%, rgba(169, 169, 169, 0.5));
}
.bg-yellowGradient{
  background: linear-gradient(225deg, #BE9632 0%, #E6C973 100%);
}
.text-yellowGradient{
  background: linear-gradient(225deg, #BE9632 0%, #E6C973 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-bg{
  background-image: url('/src/images/footer-Bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

